body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #3F7373;
  position: relative;
  height: 100vh;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
}
h1 {font-family: "GoshaSans-Ultralight";
    font-size: 72px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
h2 {font-family: "GoshaSans-Regular";
    font-size: 48px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
h3 {font-family: "GoshaSans-Regular";
    font-size: 24px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
h4 {font-family: "GoshaSans-Regular";
    font-size: 18px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
h5 {font-family: "GoshaSans-Regular";
    font-size: 14px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
h6 {font-family: "GoshaSans-Ultralight";
    font-size: 48px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
  }
p {font-family: "GoshaSans-Ultralight";
    font-size: 14px;
    color: #4BFF6A;
    text-shadow: 0px 0px 10px #4BFF6A;
  }
  .note_p {
    margin-top: 8px;
  }


#grid {
  position: relative;
  display: grid;
  grid-template:
  "a_device  header  buttons  tubes"      87px
  "a_device  petri   buttons  tubes"      293px
  "v_device  petri   buttons  tubes"      61px
  "v_device  petri   notebook  notebook"  150px
  "v_device  termo   notebook  notebook"  169px
  / minmax(219px, 18%)      504px    1fr       3fr
  ;
  grid-gap: 0px;
  height: 100%;
  margin-top: calc(50vh - 380px);
  margin-bottom: calc(50vh - 380px);
  margin-left: 3vw;
  margin-right: 3vw;
}

.ampermetr {
  grid-area: a_device;
  /* background: white; */
  background: url('../images/av-body_1280_800.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-template:
  "logo"
  "screen"
  "a-name"
  "indicate_red_button"
  "control"
  "connection_buttons";
  grid-template-rows: 1fr 89px 1fr 80px 24px 120px;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.voltmetr {
  grid-area: v_device;
  /* background: #F36969; */
  background: url('../images/av-body_1280_800.png');
  background-size: 100% 100%;
  position: relative;
  display: grid;
  grid-template:
  "logo"
  "screen"
  "v-name"
  "indicate_green_button"
  "control"
  "connection_buttons";
  grid-template-rows: 1fr 89px 1fr 80px 24px 120px;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.header {
  display: block;
  position: relative;
  grid-area: header;
  text-align: center;
}
.petri {
  display: block;
  position: relative;
  grid-area: petri;
  background: #811212;
  background: url('../images/cup0.svg');
  background-size: 100% 100%;
}
.termo {
  position: relative;
  grid-area: termo;
  /* background: #350D0D; */
  background: url('../images/fire body 1280_800.png');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "termo_control termo_control termo_control"
  "termo_screen  degree        termo_name"
  "...           ...           logo";
  grid-template-rows: 62px 74px 1fr;
  grid-template-columns: 171px 60px 1fr;
  grid-row-gap: 5px;
}
.buttons {
  position: relative;
  grid-area: buttons;
  /* background: #BD00FF; */
  display: grid;
  grid-template:
  "button1"
  "button2"
  "button3";
  grid-template-rows: 75px;
  grid-template-columns: 100%;
  grid-gap: calc(50% - 112.5px);
}
.tubes {
  position: relative;
  grid-area: tubes;
  /* background: #8CD5FF; */
  display: grid;
  grid-template:
  "probirka1 probirka2 probirka3";
  grid-template-rows: 100%;
  grid-template-columns: 104px;
  grid-gap: calc(50% - 156px);
}
.notebook {
  position: relative;
  grid-area: notebook;
  /* background: #00FFF0; */
  background: url('../images/note body 1280_800.png');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "note_name"
  "note_body1"
  "note_body2"
  "note_button";
  grid-template-rows: 97px 62px 1fr 20%;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.notebook1 {
  position: relative;
  grid-area: notebook;
  /* background: #00FFF0; */
  background: url('../images/note body 1280_800.png');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "note_name"
  "note_body2"
  "note_button";
  grid-template-rows: 97px 1fr 3%;
  grid-template-columns: 100%;
  grid-gap: 0px;
  overflow: hidden;
}

.probirka {
  display: block;
  position: relative;
  background: url('../images/probirka.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 20px; */
}
#probirka1 {
  grid-area: probirka1;
}
#probirka2 {
  grid-area: probirka2;
}
#probirka3 {
  grid-area: probirka3;
}
.reagent {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
#red_reagent {
  background: url('../images/red_reagent.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  place-items: end center;
  position: relative;
  bottom: -10px;
}
#green_reagent {
  background: url('../images/green_reagent.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  place-items: end center;
  position: relative;
  bottom: -10px;
}
#blue_reagent {
  background: url('../images/blue_reagent.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  place-items: end center;
  position: relative;
  bottom: -10px;
}
.button {
  display: block;
  position: relative;
  background: url('../images/green button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  display: block;
  position: relative;
  grid-area: logo;
  text-align: center;
  padding-top: 2%;
  vertical-align: baseline;
}
.screen {
  display: block;
  position: relative;
  grid-area: screen;
  background: url('../images/av-display_1280_800.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-bottom: 50px;
}
.a-name {
  display: block;
  position: relative;
  grid-area: a-name;
  text-align: center;
  padding-top: 2%;
}
.v-name {
  display: block;
  position: relative;
  grid-area: v-name;
  text-align: center;
  padding-top: 2%;
}
#device-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
}
#device-text2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
}
.indicate_red_button {
  display: block;
  position: relative;
  grid-area: indicate_red_button;
  background: url('../images/red button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.indicate_green_button {
  display: block;
  position: relative;
  grid-area: indicate_green_button;
  background: url('../images/green button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.control {
  display: block;
  position: relative;
  grid-area: control;
  background: url('../images/polsunok1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 31px;
  margin-right: 31px;
}
.connection_buttons {
  display: block;
  position: relative;
  grid-area: connection_buttons;
  padding-left: 22px;
  padding-right: 22px;
  display: grid;
  grid-template:
  "connection_button1  connection_button2";
  grid-template-rows: 100%;
  grid-template-columns: 85px;
  grid-gap: calc(100% - 170px);
}
.a-connection_button {
  display: block;
  position: relative;
  background: url('../images/red button2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.v-connection_button {
  display: block;
  position: relative;
  background: url('../images/green button2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.termo_control {
  display: block;
  position: relative;
  grid-area: termo_control;
  background: url('../images/polsunok2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 50px;
  margin-right: 50px;
}
.termo_screen {
  display: block;
  position: relative;
  grid-area: termo_screen;
  background: url('../images/fir display 1280_800 2.svg');
  background-position: center;
  margin-left: 50px;
  text-align: center;
  /* padding-top: 6%; */
}
.degree {
  display: block;
  position: relative;
  grid-area: degree;
}
.termo_name {
  display: block;
  position: relative;
  grid-area: termo_name;
  margin-right: 56px;
  text-align: right;
}
#termo_logo {
  display: block;
  position: relative;
  top: -22px;
  z-index: 7;
  text-align: right;
  margin-right: 56px;
  padding-top: 0px;
}
.note_name {
  display: block;
  position: relative;
  grid-area: note_name;
  text-align: center;
  padding-top: 10%;
}
.note_body1 {
  display: block;
  position: relative;
  grid-area: note_body1;
  background: url('../images/note body1 1280_800 1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 54px;
  margin-right: 54px;
  text-align: center;
  padding-top: 4%;
}
.note_body2 {
  display: block;
  position: relative;
  grid-area: note_body2;
  background: url('../images/note body2 1280_800 1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 54px;
  margin-right: 54px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.note_button {
  display: block;
  position: relative;
  grid-area: note_button;
  padding-right: 54px;
  padding-left: 54px;
  position: relative;
  z-index: 6;
  top: -12px;
  display: grid;
  grid-template:
  "note_button2 note_button1";
  grid-template-rows: 100%;
  grid-template-columns: 54px;
  grid-gap: calc(100% - 108px);
}
.btn {
  display: block;
  position: relative;
  height: 53px;
  width: 54px;
  background: url('../images/note button.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* margin-left: calc(100% - 54px); */
}
.btn1 {
  grid-area: note_button1;
}
.btn2 {
  background: url('../images/note button2.svg');
  grid-area: note_button2;
}
.footer_words {
  display: flex;
  position: absolute;
}
.footer_words1 {
  right: 0px;
}
.footer01 {
  top: calc(50% - 7px);
}
.footer02 {
  bottom: 0px;
}
.hide {
  display: none;
}
.invisable {
  display: hidden;
}
