body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #3F7373;
  position: relative;
  height: 100vh;
}
html {
  background: #bbb;
  position: relative;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#grid {
  display: grid;
  grid-template:
  "a_device  header  buttons  tubes"      87px
  "a_device  petri   buttons  tubes"      293px
  "v_device  petri   buttons  tubes"      61px
  "v_device  petri   notebook  notebook"  150px
  "v_device  termo   notebook  notebook"  169px
  / minmax(219px, 18%)      504px    1fr       3fr
  ;
  grid-gap: 0px;
  height: 100%;
  margin-top: calc(50vh - 380px);
  margin-bottom: calc(50vh - 380px);
  margin-left: 3vw;
  margin-right: 3vw;
}

.ampermetr {
  grid-area: a_device;
  /* background: white; */
  background: url('../images/av-body_1280_800.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template:
  "logo"
  "screen"
  "a-name"
  "indicate_red_button"
  "control"
  "connection_buttons";
  grid-template-rows: 1fr 89px 1fr 80px 24px 120px;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.voltmetr {
  grid-area: v_device;
  /* background: #F36969; */
  background: url('../images/av-body_1280_800.png');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "logo"
  "screen"
  "v-name"
  "indicate_green_button"
  "control"
  "connection_buttons";
  grid-template-rows: 1fr 89px 1fr 80px 24px 120px;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.header {
  grid-area: header;
  background: #BE2A2A;
  opacity: 10%;
}
.petri {
  grid-area: petri;
  background: #811212;
  background: url('../images/cup0.svg');
  background-size: 100% 100%;
}
.termo {
  grid-area: termo;
  /* background: #350D0D; */
  background: url('../images/fire body 1280_800.svg');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "termo_control termo_control termo_control"
  "termo_screen  degree        termo_name"
  "...           ...           logo";
  grid-template-rows: 50px 74px 1fr;
  grid-template-columns: 171px 60px 1fr;
  grid-gap: 0px;
}
.buttons {
  grid-area: buttons;
  /* background: #BD00FF; */
  display: grid;
  grid-template:
  "button1"
  "button2"
  "button3";
  grid-template-rows: 75px;
  grid-template-columns: 100%;
  grid-gap: calc(50% - 112.5px);
}
.tubes {
  grid-area: tubes;
  /* background: #8CD5FF; */
  display: grid;
  grid-template:
  "probirka1  probirka2 probirka3";
  grid-template-rows: 100%;
  grid-template-columns: 104px;
  grid-gap: calc(50% - 156px);
}
.notebook {
  grid-area: notebook;
  /* background: #00FFF0; */
  background: url('../images/note body 1280_800.png');
  background-size: 100% 100%;
  display: grid;
  grid-template:
  "note_name"
  "note_body1"
  "note_body2"
  "note_button";
  grid-template-rows: 97px 62px 96px 1fr;
  grid-template-columns: 100%;
  grid-gap: 0px;
}
.probirka {
  background: url('../images/probirka.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#probirka1 {
  grid-area: probirka1;
}
#probirka2 {
  grid-area: probirka2;
}
#probirka3 {
  grid-area: probirka3;
}
.button {
  background: url('../images/green button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  grid-area: logo;
  background: #00FFF0;
  opacity: 20%;
}
.screen {
  grid-area: screen;
  background: url('../images/av-display_1280_800.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.a-name {
  grid-area: a-name;
  background: #00FFF0;
  opacity: 20%;
}
.v-name {
  grid-area: v-name;
  background: #00FFF0;
  opacity: 20%;
}
.indicate_red_button {
  grid-area: indicate_red_button;
  background: url('../images/red button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.indicate_green_button {
  grid-area: indicate_green_button;
  background: url('../images/green button1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.control {
  grid-area: control;
  background: url('../images/polsunok1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 31px;
  margin-right: 31px;
}
.connection_buttons {
  grid-area: connection_buttons;
  padding-left: 22px;
  padding-right: 22px;
  display: grid;
  grid-template:
  "connection_button1  connection_button2";
  grid-template-rows: 100%;
  grid-template-columns: 85px;
  grid-gap: calc(100% - 170px);
}
.a-connection_button {
  background: url('../images/red button2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.v-connection_button {
  background: url('../images/green button2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.termo_control {
  grid-area: termo_control;
  background: url('../images/polsunok2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 50px;
  margin-right: 50px;
}
.termo_screen {
  grid-area: termo_screen;
  background: url('../images/fir display 1280_800 2.svg');
  background-position: center;
  margin-left: 50px;
}
.degree {
  grid-area: degree;
  background: #BF6868;
  opacity: 20%;
}
.termo_name {
  grid-area: termo_name;
  background: #EB7D7D;
  opacity: 20%;
}
.note_name {
  grid-area: note_name;
  background: #EB7D7D;
  opacity: 20%;
}
.note_body1 {
  grid-area: note_body1;
  background: url('../images/note body1 1280_800 1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 54px;
  margin-right: 54px;
}
.note_body2 {
  grid-area: note_body2;
  background: url('../images/note body2 1280_800 1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 54px;
  margin-right: 54px;
}
.note_button {
  grid-area: note_button;
  padding-right: 54px;
}
.btn {
  height: 53px;
  width: 54px;
  background: url('../images/note button.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: calc(100% - 54px)
}
