/* 1680x1050 (MacBook Pro ’15.4) */
@media only screen and (min-width: 1680px) {
  .footer {
    display: none;
  }
}

/* 1440x900 (MacBook Pro ’15) */
@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  #grid {
    grid-template:
    "a_device  header  buttons  tubes"      99px
    "a_device  petri   buttons  tubes"      330px
    "v_device  petri   buttons  tubes"      68px
    "v_device  petri   notebook  notebook"  170px
    "v_device  termo   notebook  notebook"  190px
    / minmax(247px, 19%)  568px    1fr       3fr
    ;
    grid-gap: 0px;
    height: 100%;
    margin-top: calc(50vh - 428.5px);
    margin-bottom: calc(50vh - 428.5px);
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .ampermetr {
    grid-template-rows: 1fr 104px 1fr 95px 39px 135px;
    background: url('../images/av-body_1680_1050.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .voltmetr {
    grid-template-rows: 1fr 104px 1fr 95px 39px 135px;
    background: url('../images/av-body_1680_1050.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  h1 {font-family: "GoshaSans-Ultralight";
      font-size: 72px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  h2 {font-family: "GoshaSans-Regular";
      font-size: 48px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  h3 {font-family: "GoshaSans-Regular";
      font-size: 24px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  h4 {font-family: "GoshaSans-Regular";
      font-size: 18px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  h5 {font-family: "GoshaSans-Regular";
      font-size: 14px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  h6 {font-family: "GoshaSans-Ultralight";
      font-size: 48px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
  p {font-family: "GoshaSans-Ultralight";
      font-size: 14px;
      color: #4BFF6A;
      text-shadow: 0px 0px 10px #4BFF6A;
    }
    .footer {
      display: none;
    }
}

/* 1366x768 (MacBook Air ’11.6) */
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  #grid {
    grid-template:
    "a_device  header  buttons  tubes"      83px
    "a_device  petri   buttons  tubes"      280px
    "v_device  petri   buttons  tubes"      58px
    "v_device  petri   notebook  notebook"  144px
    "v_device  termo   notebook  notebook"  161px
    / minmax(209px, 17%)  482px    1fr       3fr
    ;
    grid-gap: 0px;
    height: 100%;
    margin-top: calc(50vh - 363px);
    margin-bottom: calc(50vh - 363px);
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .btn {
    height: 47px;
    width: 48px;
    margin-left: calc(100% - 48px)
  }
  .note_body1 {
    margin-left: 57px;
    margin-right: 57px;
  }
  .note_body2 {
    margin-left: 57px;
    margin-right: 57px;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 5%;
  }
  .note_button {
    padding-right: 57px;
  }
  .footer {
    display: none;
  }
}

/* 1280x800 (MacBook Pro ’13) */
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  #grid {
    position: relative;
    display: grid;
    grid-template:
    "a_device  header  buttons  tubes"      87px
    "a_device  petri   buttons  tubes"      293px
    "v_device  petri   buttons  tubes"      61px
    "v_device  petri   notebook  notebook"  150px
    "v_device  termo   notebook  notebook"  169px
    / minmax(219px, 18%)      504px    1fr       3fr
    ;
    grid-gap: 0px;
    height: 100%;
    margin-top: calc(50vh - 380px);
    margin-bottom: calc(50vh - 380px);
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .footer {
    display: none;
  }
}

/* 1024x768 (iPad Landscape) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    width: 100vw;
    height: 1196px;
  }
  #grid {
    grid-template:
    "petri     petri      petri     header"     144px
    "petri     petri      petri     buttons"    75px
    "petri     petri      petri     tubes"      316px
    "termo     termo      termo     tubes"      193px
    "a_device  v_device   notebook  notebook"   305px
    "a_device  v_device   footer    footer"     123px
    / 245px    245px      50px       1fr
    ;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .buttons {
    position: relative;
    grid-area: buttons;
    /* background: #BD00FF; */
    display: grid;
    grid-template:
    "button1 button2 button3";
    grid-template-rows: 100%;
    grid-template-columns: 75px;
    grid-gap: calc(50% - 112.5px);
  }
  .footer {
    display: block;
    position: relative;
    grid-area: footer;
  }
}

/* 768x1024 (iPad Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100vw;
    /* width: 768px; */
    height: 1452px;
  }
  #grid {
    grid-template:
    "petri     petri     petri     petri     petri"     518px
    "header    header    ...       buttons   tubes"    74px
    "a_device    ...     ...       buttons   tubes"      259px
    "a_device  termo     termo     termo     termo"      152px
    "v_device  notebook  notebook  notebook  notebook"   302px
    "v_device  footer    footer    footer    footer"     107px
    / 236px    45px      11%       67px      1fr
    ;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .footer {
    display: block;
    position: relative;
    grid-area: footer;
    display: grid;
    grid-template:
    "footer_words1 footer_words1 footer_words1";
    grid-template-rows: 100%;
    grid-template-columns: 75px;
    grid-gap: calc(50% - 112.5px);
  }
  .termo {
    grid-template-rows: 45px 74px 1fr;
    grid-template-columns: 171px 60px 1fr;
    grid-row-gap: 5px;
  }
  h3 {
      font-size: 22px;
    }
    .footer_words2 {
      display: none;
    }
    .footer_words1 {
      display: inline-block;
      position: relative;
      top: calc(50% - 7px);
      align-content: space-between;
    }
}

/* 320–475 (iPhone SE) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    width: 100vw;
    height: 1712px;
  }
  #grid {
    grid-template:
    "header"   50px
    "petri"    252px
    "tubes"    227px
    "termo"    144px
    "a_device" 395px
    "v_device" 395px
    "notebook" 195px
    / 252px
    ;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: calc(50% - 126px);
    margin-right: calc(50% - 126px);
  }
  h2 {
      font-size: 40px;
    }
  .footer {
    display: none;
  }
  .termo {
    grid-template-rows: 27px 33px 1fr;
    grid-template-columns: 84px 30px 1fr;
    grid-row-gap: 5px;
  }
}
